.div-general-pryects {
  text-align: center;
  background: linear-gradient(145deg, #1c1c1c, #111);
  width: 100%;
  margin: 4rem auto;
  padding: 3rem 2rem;
  border-radius: 0px;
  margin-top: 13%;
  margin-bottom: 14%;
}

.div-general-pryects h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 700;
  
}

.div-general-pryects h3{
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-container-proyect {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards-proyects {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-proyects:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.5);
}

.card-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.card-content {
  padding: 1.5rem;
  text-align: left;
}

.card-content h3 {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle {
  display: block;
  color: #caad1b;
  font-weight: 500;
  margin-bottom: 1rem;
}

.enlace{
  color: #caad1b; 
  text-decoration: none; 
  font-weight: 600; 
  padding: 1px 3px;
}

.card-content p {
  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.card-links {
  display: flex;
  gap: 1rem;
}

.card-links a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background: #caad1b;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.card-links a:hover {
  background: #e0c33f;
}
.card-note {
  font-size: 0.75rem;
  color: #aaa;
  margin-top: 0.5rem;
  font-style: italic;
}


@media (min-width: 768px) {
  .cards-proyects {
    flex-direction: row;
  }

  .card-image {
    flex: 1;
  }

  .card-content {
    flex: 1;
  }
}


@media (max-width: 768px) {
  .div-general-pryects{
     padding: 3rem 0.6rem;
  }

  .div-general-pryects h2{
    font-size: 1.7rem;
  }

  .div-general-pryects h3{
    font-size: 1.3em;
  }
}